flask==3.0.0
flask-cors==4.0.0
flask-sock==0.7.0
flask-limiter
openai==1.58.1
python-dotenv==1.0.0
pytz==2024.1
requests==2.31.0
psycopg2-binary
marshmallow
sentry-sdk[flask]
websocket-client==1.7.0
apscheduler==3.10.4
firebase-admin==6.5.0
gunicorn
gevent
gevent-websocket
eventlet
flask-limiter[redis]
